body {
    background-color: black;
    color: white;
    font-style: oblique;
}

.game {
    width: 1310px;
    height: 100%;
    background-color: #292929;
  }
  iframe {
    scale: 1;
    width: 1300px;
    height: 740px;
    border-width: 5px;
    border-style: solid;
    border-image: linear-gradient(to top, rgb(69, 255, 255), rgb(0, 0, 131)) 1;
  }

  #closeGame{
    color: red;
    font-size: xx-large;
    font-style: normal;
  }


#gameToggle{
    color: red;
    font-size: large;
    font-style: normal;
}